.main-chat { 
  padding: 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* chat window */

.channel-chat {
  background-color: rgb(249,249,249);
  width: calc(100% - 200px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}

.chat-window {
  overflow-y: scroll;
  height: 100%;
}

.chat-box-text-area,
.chat-box-text-input {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  margin-top: 0;
  border: 2px solid dimgray;
  border-radius: 8px;
  resize: none;
  background-color: rgb(249,249,249);
  flex: none;
  transition: border 0.2s;
}

.chat-box-text-area:focus-within,
.chat-box-text-input:focus-within {
  border: 2px solid black;
  transition: border 0.2s;
}

.chat-box-uncontrolled {
  max-height: 200px;
  outline: none;
  overflow-y: scroll;
}


/* https://codepen.io/flesler/pen/AEIFc */
.chat-box-uncontrolled:not(:focus):empty::before {
  content: attr(placeholder);
  color: silver;
}