.credentials-form {
  width: 50%;
  max-width: 480px;
  margin: auto;
  margin-top: 70px;
  padding: 20px 70px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1px 0px 0px darkgray;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.credentials-form-container {
  font-size: 14px;
  width: 100%;
}

.credentials-form-headline {
  font-weight: 600;
  font-size: 32px;
}


.credentials-form-input {
  width: 100%;
  max-width: 350px;
  box-sizing: content-box;
  margin-bottom: 10px;
  height: 26px;
  font-size: 20px;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 10px;
}

.credentials-form-input:focus {
  outline: none;
  border-color: dimgray;
}

.credentials-form-input:not(.credentials-form-submit):hover {
  border-color: dimgray;
}

.credentials-form-input::placeholder {
  color: lightgray;
  font-weight: 300;
}

.credentials-form-submit {
  background-color: #3D9F70;
  color: white;
  text-shadow: 0px 1px 0px dimgray;
  border: none;
  padding: 11px;
  margin-top: 10px;
  font-weight: 500;
}

.credentials-form-submit:hover {
  cursor: pointer;
  box-shadow: inset 0px -2px 0px 0px dimgray;

}
