.credentials-form {
  width: 50%;
  min-width: 200px;
  height: 25%;
  min-height: 100px;
  position: relative;
  top: 10%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 15px;
}

.credentials-form label {
  padding: 5px 20px;
  margin: auto;
  /* background-color: lightgreen; */
  border: 1px solid lightgray;
  border-radius: 5px;
}

.credentials-form input[type='submit'] {
  background-color: lightgreen;
  border-radius: 5px;
}
