.credentials-form {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  padding: 20px 60px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
}

.credentials-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}

.credentials-form-headline {
  font-weight: 400;
  font-size: 32px;
}

.credentials-form-p {
  align-self: left;
}

.credentials-form-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 24px;
  font-size: 18px;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 2px 5px;
}

.credentials-form-input::placeholder {
  color: lightgray;
}

.credentials-form-submit {
  background-color: green;
  color: white;
  border-radius: 5px;
}