html {
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

main {
  padding-top: 70px;
  background-color: whitesmoke;
}

.fake-link {
  color: #0576b9;
  cursor: pointer;
  font-weight: bold;
}

