.chat-window {
  background-color: rgb(249,249,249);
  margin-bottom: 40px;
}

.chat-message {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px 30px;
}

.chat-message-aside-left {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-message-content-right {
  display: flex;
  flex-flow: column;
  align-self: stretch;
  justify-content: space-between;
}

.chat-message-byline {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  padding-bottom: 5px;
}

.chat-message-author-name {
  font-weight: bold;
  margin: 0 10px;
}

.chat-message-timestamp {
  font-size: 12px;
  color: transparent;
  vertical-align: bottom;
  font-weight: lighter;
}

.chat-message:hover {
  background-color: whitesmoke;
}

.chat-message:hover .chat-message-timestamp {
  color: grey;
}

.first-message .chat-message-timestamp {
  color: grey;
}

.chat-message-text {
  padding-left: 10px;
}

.chat-message-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: 14px;
  width: 100px;
  align-items: center;
  position: absolute;
  right: 50px;
  display: none;
}


.chat-message:hover .chat-message-actions {
  display: flex;
}


.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

.first-message {

}


.date-divider {
  position: relative;
}

.date-divider-rule {
  border: none;
  border-top: 1px solid lightgray;
  margin-top: 16px;
  padding-bottom: 16px;
}

.date-divider-text {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  top: -50%;
  left: 50%;
  background-color: rgb(249,249,249);
  font-size: 12px;
  color: dimgray;
  font-weight: bold;
  border-radius: 6px;
}

.chat-day-container:first-child .date-divider {
  display: none;
}


.chat-box {
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: 2px solid dimgray;
  border-radius: 8px;
}

.chat-box::placeholder {
  color: silver;
}