
.chat-message {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0px 25px;
  flex: auto;
}

.chat-message-aside-left {
  max-width: 50px;
  min-width: 50px;
  margin: 5px 0px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}

.chat-message-content-right {
  margin: 5px 0px;
  display: flex;
  flex-flow: column;
  align-self: stretch;
  justify-content: space-between;
  flex: auto;
}

.first-message-content-right-container {
  width: 100%;
}

.chat-message-byline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 5px;
}

.chat-message-author-name {
  font-weight: bold;
  margin: 0 5px;
}

.chat-message-timestamp {
  font-size: 12px;
  color: transparent;
  vertical-align: bottom;
  font-weight: lighter;
}

.chat-message:hover {
  background-color: whitesmoke;
}

.chat-message:hover .chat-message-timestamp {
  color: grey;
}

.first-message .chat-message-timestamp {
  color: grey;
}

.chat-message-text {
  padding-left: 5px;
  white-space: pre-wrap;
  word-break: break-all;
}

.chat-message-actions {
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
  align-items: center;
  border: 1px solid silver;
  border-radius: 8px;
  flex: none;
  position: relative;
  visibility: hidden;
}

.chat-message-actions:hover {
  border-color: darkgray;
}

.chat-message-actions:hover .chat-message-action-item {
  border-color: darkgray;
}

.chat-message:hover .chat-message-actions {
  visibility: visible;
}

.chat-message-action-item {
  color: silver;
  border-left: 1px solid silver;
  padding: 4px;
}

.chat-message-action-item:first-child {
  border-left: none;
  padding-left: 8px;
}


.chat-message-action-item:last-child {
  padding-right: 8px;
}


.c-m-a-i-edit:hover {
  color: darkgoldenrod;
}

.c-m-a-i-delete:hover {
  color: darkred;
}


.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

.first-message {

}


.date-divider {
  position: relative;
}

.date-divider-rule {
  border: none;
  border-top: 1px solid lightgray;
  margin-top: 16px;
  padding-bottom: 16px;
}

.date-divider-text {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;  
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(249,249,249);
  font-size: 12px;
  color: dimgray;
  font-weight: bold;
  border-radius: 6px;
}

.chat-day-container:first-child .date-divider {
  display: none;
}

